@tailwind base;
@tailwind components;
@tailwind utilities;

.profile {
  border-radius: 53% 27% 37% 57% / 27% 65% 35% 55%;
}

.Borderblack {
  @apply border border-black/10;
}

/* styles.css */
.underline-animation {
  @apply absolute -bottom-1 left-0 bg-transparent h-[4px] bg-gradient-to-r from-indigo-400 to-indigo-700;
  width: 0;
  animation: underline-expand forwards;
  transition: 1s ease-in-out;
}
